{% extends 'base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
    <h1>Note</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ note.note }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ note.description }}</td>
            </tr>
            <tr>
                <th>Coeff</th>
                <td>{{ note.coeff }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_note_index') }}" class="btn btn-primary">Retour</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_note_edit', {'id': note.id}) }}" class="btn btn-warning">Modifier</a>
    {% endif %}
    <br>
    <br>
    {{ include('note/_delete_form.html.twig') }}
{% endblock %}
